<link rel="stylesheet" type="text/css" href="favourite-button.component.css" />

<button [disabled]="clicked"  (click)="onFavouriteClick()" class="button-33">
  <ng-container
    *ngIf="isFavourite; then favourite; else notFavourite"
  ></ng-container>

  <ng-template #favourite >
    <span> Already in your collection </span>
  </ng-template>

  <ng-template #notFavourite>
    <span>Add to you collection</span>
  </ng-template>
</button>
