#pokemon-list {
  display: grid;
  grid-gap: 10px;
  padding: 50px;
  grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
  min-width: 1000px;
}

#pokemon-list-out {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  min-width: 200px;
  height: 380px;
  border-radius: 5%;
  font-size: 1.5rem;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.9);
  background: radial-gradient(110% 33% at bottom, transparent 50%, lightblue 51%);
}

h2 {
  font-size: 1.2em;
  text-transform: uppercase;
}

img {
  width: 40%;
  min-width: 170px;
}

span {
text-transform: capitalize;
}

.button-33 {
background-color: lightblue;
border-radius: 100px;
box-shadow: rgba(43, 55, 220, 0.2) 0 -25px 18px -14px inset,rgba(44, 77, 187, 0.15) 0 1px 2px,rgba(44, 70, 187, 0.15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 44, 187, 0.15) 0 8px 16px,rgba(65, 44, 187, 0.15) 0 16px 32px;
color: blue;
font-weight: 500;
cursor: pointer;
display: inline-block;
padding: 7px 20px;
text-align: center;
text-decoration: none;
transition: all 250ms;
border: 0;
font-size: 16px;
margin-top: 5px;
}

.button-33:hover {
box-shadow: rgba(44, 68, 187, 0.35) 0 -25px 18px -14px inset,rgba(44, 82, 187, 0.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44, 82, 187, 0.25) 0 4px rgba(44, 89, 187, 0.25) 0 8px 16px,rgba(44, 58, 187, 0.25) 0 16px 32px;
transform: scale(1.1) rotate(-2deg);
}